@function get_padding($vp, $dir) {
	@return map-get( map-get($section-padding, $vp), $dir);
}

@function gutter($vp) {
	@return map-get($gutters, $vp);
}

@include viewport(m){
	.hide-on-medium {
		display: none;
	}
}

@include viewport(s){
	.hide-on-small {
		display: none;
	}
}

@include viewport(xs){
	.hide-on-xsmall {
		display: none;
	}
}